.loader {
    height: 80px;
    aspect-ratio: 1;
    display: grid;
}

.loader:before,
.loader:after {
    content: "";
    --c: no-repeat linear-gradient(#47A5E4 0 0);
    background: var(--c), var(--c);
    background-size: 25% 50%;
    animation: l4 1.5s infinite linear;
}

.loader:after {
    transform: scale(-1);
}

@keyframes l4 {

    0%,
    10% {
        background-position: 33.4% 100%, 66.6% 100%
    }

    40% {
        background-position: 33.4% 0, 100% 100%
    }

    70% {
        background-position: 0 100%, 66.6% 0
    }

    100% {
        background-position: 33.4% 100%, 66.6% 100%
    }
}


.side-menu {
    background: #fff;
    width: 230px;
    height: screen;
}



.side-menu .main-menu .menu-item {
    color: #000;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    font-style: normal;
    position: relative;
    font-family: Poppins;
    padding: 10px 20px;
}

.side-menu .main-menu .menu-item.active {
    width: 200px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #47A5E4;
    border-radius: 6px;
    color: #fff;
    border: transparent;
    cursor: pointer;
}


.side-menu .main-menu {
    margin: 5px 0;
    position: relative;
}

.menu-item {
    padding: 5px 20px;
    overflow: hidden;
}

.menu-item.active {
    padding: 10px 20px;
    overflow: hidden;
}

.side-menu .main-menu .menu-item .menu-icon {
    display: block;
    position: relative;
    left: -7px;
    font-size: 20px;
    text-align: center;

}

.side-menu .main-menu .menu-item .menu-icon.active {
    background: #12B28C;
    border-radius: 5px;
}

.side-menu .main-menu .menu-item span {
    position: relative;
    display: inline-block;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu {
    color: #12B28C;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active {
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a {
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}


.side-menu .main-menu .sub-menu a.active {
    /* change in background, not recorded in video */
    background: #222;
    display: block;

    border-radius: 5px;
    color: #fff;

}


.buttonForNavigation {
    margin: 5px auto;
    padding: 10px 20px;
    overflow: hidden;
    display: block;
    position: relative;
    left: -7px;
    font-size: 20px;
    /* text-align: center; */
    width: 200px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #47A5E4;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    border: transparent;
    cursor: pointer;
}

.notSelectedButton {
    margin: 5px auto;
    transition: all 0.3s ease-in-out;

    padding: 10px 20px;
    overflow: hidden;
    display: block;
    position: relative;
    left: -7px;
    font-size: 20px;
    /* text-align: center; */
    width: 200px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}





.side-menu-footer {
    width: 100%;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.side-menu-footer .avatar img {
    max-width: 100%;
}

.side-menu-footer .user-info {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}



.side-menu-footer .user-info h5 {
    font-size: 15px;
}


.side-menu-footer .user-info p {
    font-size: 14px;
}

.divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container {
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive {
    margin-left: 80px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 25px;
    height: 25px;
    margin: 0px auto 0;
    border: solid 3px #ffffff;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}